<!DOCTYPE html>
<html>
  <head>
    <title>CumulusNote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.logoURL = "<%=image_url('cloud_icon.png')%>"
      window.photoEdit = "<%= image_url('icons8-photo-editor-64.png')  %>"
      window.profileP = "<%= image_url('generic-user-icon.jpg')  %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
