<!DOCTYPE html>
<html>
  <head>
    <title>CumulusNote</title>
    <meta property='og:image' content="<%= image_url('CumulusScreen.jpg') %>"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://use.fontawesome.com/releases/v5.11.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('logo-icon.png') %>
    <script type="text/javascript">
      window.logoURL = "<%=image_url('cloud_icon.png')%>"
      window.photoEdit = "<%= image_url('transparent-gear-icon.jpg')  %>"
      window.profileP = "<%= image_url('generic-user-icon.jpg')  %>"
      window.hero = "<%= image_url('heroImage.jpg')  %>"
    </script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
